.about {
    max-width: 100%;
    height: 426px;
    position: relative;
    
}

.about_wrapper {
    max-width: 100%;
    height: 426px;
    background-color: #FFFFFF;
    position: absolute;
    .container_about{
        height: 400px;
        width: 1170px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        }
}

.polygon{
    margin-left: 840px;
    img{
        margin-top: -127px;
        width: 800px;
    }
}

.about_text{
    height: 245px;
    width: 676px;
    margin: 62px 327px;
    margin-bottom: 73px;
    position: absolute;

    .about_title {
    @include bold;
    width: 336px;
    margin-bottom: 35px;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    img{
        height: 100%;
        align-self: center;
    }
    
    }
    .hello{
    @include medium;
    font-size: 30px;
    }
    .about_descr{
      @include light;
      margin-top: 15px;
      font-size: 20px;
    }
}