.lenta{
    max-width: 100%;
    position: relative;

    
    
    .lenta_container{
        width: 970px;
        height: 3687px;
        z-index: 2;
        box-shadow: 0px 4px 50px #000000;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        background-color: #FFFFFF;
        .content {
            position: absolute;
            margin-top: 157px;
            margin-left: 115px;;
            width: 740px;
            display: flex;
            .order_title{
                @include bold;
                width: 611px;
                font-size: 60px;
                line-height: 70px;
                margin-left: 70px;
                display: flex;
                white-space: nowrap;
                justify-content: space-between;
                img{
                    height: 4px;
                    align-self: center;
                }
            }
            .points {
                display: grid;
                width: 770px;
                height: 739px;
                margin-top: 198px;
                position: relative;
                grid-template-columns: 1fr 2fr;
                grid-gap: 5vw;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                .point_item{
                    width: 370px;
                    height: 70px;
                    @include light;
                    font-size: 21px;
                    display: flex;
                    align-items: center;
                    .point_text{
                        margin-left: 36px;
                    }
                    .rect{
                        @include bold;
                        width: 70px;
                        height: 70px;
                        color: #FFFFFF;
                        background: #E05D6B;
                        box-shadow: 0px 1px 2px #E05D6B;
                        border-radius: 10px;
                        font-size: 40px;
                        line-height: 47px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            
        }   
    
   
    }
}

.images_wrapper {
    div:nth-child(1){
        top: 236px;
        position: absolute;
        z-index: 1;
    }
    div:nth-child(2){
        top: 1153px;
        position: absolute;
        z-index: 2;
    }div:nth-child(3){
        top: 2067px;
        position: absolute;
        z-index: 1;
    }
    div:nth-child(4){
        top: 2981px;
        position: absolute;
        z-index: 2;
    }
}

.point_item:nth-child(even){
    align-self: end;
}

.point_item:nth-child(2){
    position: relative;
    .rect{
        z-index: 2;
    }
    img{
        position: absolute;
        z-index: 1;
        right: 325px;
    }
}

.contacts{
    width: 768px;
    margin-top: 932px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contact_title{
        margin-bottom: 179px;
        margin-left: 129px;
        @include bold;
        width: 508px;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        font-size: 60px;
        img{
            height: 4px;
            align-self: center;
        }
        
    }
    .icon_container{
        width: 630px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
       
    }
    
    .phone{
        span{
            @include bold;
            font-size: 40px;
            justify-self: center;
            width: 430px;
            height: 98px;
            line-height: 76px;
            text-align: center;
            margin-top: 10px;
        }
        margin: 175px 148px;
        display: flex;
        width: 430px;
        height: 100px;
        border: 5px solid #E05D6B;
        border-radius: 100px;
    }
}



