.portfolio {
    max-width: 100%;
    height: 900px;
    background-image: url('../../img/Rectangle\ 6.png');
    background-size: 100% 900px;
    
    .portfolio_wrapper{
        position: relative;
        max-width: 100%;
        height: 850px;
    }
}

.container_portfolio{
    position: absolute;
    margin: 205px 345px;
    width: 1170px;
    height: 690px;
    display: flex;
    color: #FFFFFF;
    .images{
       flex-flow: nowrap;
       height: 580px;
       position: relative;
       div:nth-child(1){
        margin: 50px 290px;
        position: absolute;
        img{
            z-index: 2;
        }
        }
       div:nth-child(2){
         margin-top:150px;
         position: relative;
         img{
            z-index: 1;
        }

        }
    }
}



.content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 670px;
    height: 560px;
    .portfolio_title{
        @include bold;
        width: 450px;
        height: 50px;
        font-size: 60px;
        line-height: 40px;
        margin-left: 345px;
        display: flex;
        white-space: nowrap;
        justify-content: space-between;
        img{
            height: 4px;
            align-self: center;
        }
}
    .tort_name {
        @include medium;
        font-size: 40px;
        width: 700px;
        margin-top: 100px;
        text-align: center;
    }
    .description{
        @include light;
        width: 650px;
        font-size: 30px;
        margin: 40px 55px;
        text-align: center;
        justify-self: center;
    }
}

.selection{
    width: 100%;
    height: 30px;
    display: flex;
    margin: 205px 275px;
    align-items: center;
    position: relative;
    .arrows{
        width: 30px;
        justify-content: center;
    }
    .dots{
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
        img:nth-child(1){
            max-width: 10px;
            max-height: 10px;
        }
        img:nth-child(5){
            max-width: 10px;
            max-height: 10px;
        }
        img:nth-child(2){
            max-width: 15px;
            max-height: 15px;
        }
        img:nth-child(4){
            max-width: 15px;
            max-height: 15px;
        }
        img:nth-child(3){
            max-width: 20px;
            max-height: 20px;
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1600px){
    .portfolio{
     background-position: center center;
     background-size: cover;
     background-attachment: fixed;
    }
    .container_portfolio{
        margin: 205px auto;
    }
}
  
  
  @media screen and (max-width: 960px){
    .portfolio{
          height: 900px;
          background-image: url('../../img/Rectangle\ 6.png');
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          max-width: 100%;
    }

    .container_portfolio{
        margin: 0 0;
        display:flex;
        flex-direction: column;
        max-width: 100%;
        .images{
            margin-left: 70px;
            div:nth-child(2){
                img{
                    width: 235px;
                    height: 200px;
                }
            }
            div:nth-child(1){
                margin: 90px 80px;
                img{
                    width: 89px;
                    height: 89px;
                }
            }
           
        }
    }

    .content{
        max-width: 100%;
        margin-bottom: auto;
        position: relative;
        .portfolio_title{
            max-width: 100%;
            font-size: 30px;
            margin-left: 0px;
            display: flex;
            justify-content: space-evenly;
        }
        .tort_name{
            width: 250px;
            font-size: 25px;
            margin: 20px 30px;
            
        }
        .description{
            font-size: 20px;
            max-width: 100%;
            margin-left: auto;
        }

        .selection{
            margin: 50px auto;
            .dots{
                min-width: 110px;
            }
        }
    }
  
  }